extends ../shared/template
block content
  .splash-container
    .splash
      h1.splash-header Take a Trip!
      p.splash-subhead Lorem ipsum is this something good?

block scripts
  script(src='/js/user/home.js')

